body {
  height: 100vh;
  background: linear-gradient(midnightblue, rgba(0,0,0,0.7));
}

.planet, .star {
  position: absolute;
  width: var(--size);
  height: var(--size);
  top: calc(50% - var(--size) / 2);
  left: calc(50% - var(--size) / 2);
  border-radius: 50%;
  text-align: center;
}

.planet > *, .star > * {
  visibility: hidden;
}

.sun {
  --size: 100px;
  background: linear-gradient(45deg, goldenrod, yellow);
  animation: sun 4s infinite linear;
}

.mercury {
  --size: 20px;
  background: linear-gradient(45deg, dimgrey, lightgray);
  animation: mercury 4.5s infinite linear;
}
.orbit-mercury {
  position: absolute;
  border: 1px solid white;
  height: 160px;
  width: 160px;
  top: calc(50% - 160px / 2);
  left: calc(50% - 160px / 2);
  border-radius: 50%;
  z-index: -1;
}

.venus {
  --size: 24px;
  background: linear-gradient(45deg, orangered, peru);
  animation: venus 6s infinite linear;
}
.orbit-venus {
  position: absolute;
  border: 1px solid white;
  height: 240px;
  width: 240px;
  top: calc(50% - 240px / 2);
  left: calc(50% - 240px / 2);
  border-radius: 50%;
  z-index: -1;
}

.earth {
  --size: 40px;
  background: linear-gradient(45deg, steelblue, cadetblue);
  animation: earth 6.5s infinite linear;
}
.orbit-earth {
  position: absolute;
  border: 1px solid white;
  height: 320px;
  width: 320px;
  top: calc(50% - 320px / 2);
  left: calc(50% - 320px / 2);
  border-radius: 50%;
  z-index: -1;
}

.mars {
  --size: 30px;
  background: linear-gradient(45deg, crimson, darkred);
  animation: mars 7s infinite linear;
}
.orbit-mars {
  position: absolute;
  border: 1px solid white;
  height: 400px;
  width: 400px;
  top: calc(50% - 400px / 2);
  left: calc(50% - 400px / 2);
  border-radius: 50%;
  z-index: -1;
}

.jupiter {
  --size: 70px;
  background: linear-gradient(45deg, darksalmon, lightyellow);
  animation: jupiter 7.5s infinite linear;
}
.orbit-jupiter {
  position: absolute;
  border: 1px solid white;
  height: 520px;
  width: 520px;
  top: calc(50% - 520px / 2);
  left: calc(50% - 520px / 2);
  border-radius: 50%;
  z-index: -1;
}


.saturn {
  --size: 45px;
  background: linear-gradient(45deg, peru, peachpuff);
  animation: saturn 8s infinite linear;
}
.orbit-saturn {
  position: absolute;
  border: 1px solid white;
  height: 640px;
  width: 640px;
  top: calc(50% - 640px / 2);
  left: calc(50% - 640px / 2);
  border-radius: 50%;
  z-index: -1;
}


.saturn::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 140%;
  height: 10px;
  border: 2px solid beige;
  border-top: 0;
  border-radius: 50%;
  transform: translate(-50%, -50%) rotate(30deg);
}

.uranus {
  --size: 50px;
  background: linear-gradient(45deg, skyblue, lightsteelblue);
  animation: uranus 8.5s infinite linear;
}
.orbit-uranus {
  position: absolute;
  border: 1px solid white;
  height: 720px;
  width: 720px;
  top: calc(50% - 720px / 2);
  left: calc(50% - 720px / 2);
  border-radius: 50%;
  z-index: -1;
}


.neptune {
  --size: 30px;
  background: linear-gradient(45deg, royalblue, navy);
  animation: neptune 9s infinite linear;
}
.orbit-neptune {
  position: absolute;
  border: 1px solid white;
  height: 800px;
  width: 800px;
  top: calc(50% - 800px / 2);
  left: calc(50% - 800px / 2);
  border-radius: 50%;
  z-index: -1;
}


.pluto {
  --size: 5px;
  background: linear-gradient(45deg, lightgray, snow);
  animation: pluto 9.5s infinite linear;
}
.orbit-pluto {
  position: absolute;
  border: 1px dotted white;
  height: 920px;
  width: 920px;
  top: calc(50% - 920px / 2);
  left: calc(50% - 920px / 2);
  border-radius: 50%;
  z-index: -1;
}

.planet:hover, .star:hover {
  animation-play-state: paused;
}

.planet > *:hover, .star:hover > * {
  visibility: visible;
}

@keyframes mercury {
  from {
    transform: rotate(0) translate(80px);
  }
  to {
    transform: rotate(360deg) translate(80px);
  }
}

@keyframes venus {
  from {
    transform: rotate(0) translate(120px);
  }
  to {
    transform: rotate(360deg) translate(120px);
  }
}

@keyframes earth {
  from {
    transform: rotate(0) translate(160px);
  }
  to {
    transform: rotate(360deg) translate(160px);
  }
}

@keyframes mars {
  from {
    transform: rotate(0) translate(200px);
  }
  to {
    transform: rotate(360deg) translate(200px);
  }
}

@keyframes jupiter {
  from {
    transform: rotate(0) translate(260px);
  }
  to {
    transform: rotate(360deg) translate(260px);
  }
}

@keyframes saturn {
  from {
    transform: rotate(0) translate(320px);
  }
  to {
    transform: rotate(360deg) translate(320px);
  }
}

@keyframes uranus {
  from {
    transform: rotate(0) translate(360px);
  }
  to {
    transform: rotate(360deg) translate(360px);
  }
}

@keyframes neptune {
  from {
    transform: rotate(0) translate(400px);
  }
  to {
    transform: rotate(360deg) translate(400px);
  }
}

@keyframes pluto {
  from {
    transform: rotate(0) translate(460px);
  }
  to {
    transform: rotate(360deg) translate(460px);
  }
}

@keyframes sun {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
